#!/bin/sh

# Send emails on fail with the log output of the job as the content to a number
# of recipients.
#
# Configure the recipient emails in your repo with:
# $ git config --add tinci.emails me@example.com,friend@example.com

EMAILS=$(git config --get tinci.emails)
[ ! "$EMAILS" ] && exit

read OLDSHA NEWSHA REF

REF=$(echo "$REF" | grep -o '[^\/]*$')
LOGFILE=.tinci/$NEWSHA
REPO=$(basename `pwd`)

if [ $3 -eq 0 ];then
  mail -s "tinci: $REPO ($REF) job has failed at ${NEWSHA}" $EMAILS < $LOGFILE
else
  mail -s "tinci: $REPO ($REF) job is still failing" $EMAILS < $LOGFILE
fi
