#!/bin/sh

# Sync your built project files from the "deploy" branch to an Amazon S3 bucket
# on a successful build.
#
# Configure which S3 bucket to sync with:
# $ git config --add tinci.s3bucket my-little-bucket

[ $2 -ne 0 ] && echo >&2 "Job failed, not syncing." && exit

S3BUCKET=$(git config --get tinci.s3bucket)
[ -z "$S3BUCKET" ] && echo >&2 "No bucket specified, not syncing." && exit

echo >&2 "Syncing files to bucket $S3BUCKET"

aws s3 sync $1 s3://$S3BUCKET
