#!/bin/sh

# Sync your built project files with an S3 bucket on successful build.
#
# Configure which S3 bucket to sync with:
# $ git config --add tinci.s3bucket my-little-bucket

DIR=$1
S3BUCKET=$(git config --get tinci.s3bucket)
[ -n "$S3BUCKET" ] || exit

aws s3 sync $DIR s3://$S3BUCKET
