#!/bin/bash

read OLDSHA NEWSHA REF

API_TOKEN=$(git config --get tinci.status-api-token)
API_URL=$(git config --get tinci.status-api-url)
CALLBACK_URL=$(git config --get tinci.callback-url)
[[ "$API_URL" && "$API_TOKEN" ]] \
  || (echo "tinci.status-api-token or tinci.status-api-url not set"; exit)

cmd() {
  curl \
    -H "Authorization: token $API_TOKEN" \
    -H "Content-Type: application/json" \
    -d @- \
    "$API_URL/$NEWSHA"
}

if [ "$1" == 0 ] ; then
  cmd <<EOF
{
  "state": "success",
  "target_url": "$CALLBACK_URL/?filter=.$NEWSHA",
  "description": "The build succeeded!",
  "context": "continuous-integration/tinci"
}
EOF
else
  cmd <<EOF
{
  "state": "failure",
  "target_url": "$CALLBACK_URL/?filter=.$NEWSHA",
  "description": "The build failed!",
  "context": "continuous-integration/tinci"
}
EOF
fi
