#!/bin/sh

# Send emails on fail with the log output of the job as the content to a number
# of recipients.
#
# Configure the recipient emails in your repo with:
# $ git config --add tinci.emails me@example.com,friend@example.com

EMAILS=$(git config --get tinci.emails)
[ -n "$EMAILS" ] || exit

read INPUT
REV=$(echo "$INPUT" | cut -d ' ' -f 2)
REF=$(echo "$INPUT" | cut -d ' ' -f 3 | grep -o '[^\/]*$')

LOGFILE=.tinci/$REV.log
REPO=$(basename `pwd`)
if [ $1 -eq 0 ];then
  mail -s "tinci: $REPO ($REF) job has failed at ${REV}" $EMAILS < $LOGFILE
else
  mail -s "tinci: $REPO ($REF) job is still failing" $EMAILS < $LOGFILE
fi
