#!/bin/sh

# Send emails on fail with the log output of the job as the content to a number
# of recipients.
#
# Configure the recipient emails in your repo with:
# $ git config --add tinci.emails me@example.com,friend@example.com

EMAILS=$(git config --get tinci.emails)
[ -n "$EMAILS" ] || exit

LOGFILE=.tinci/$2.log
REPO=$(basename `pwd`)
if [ $4 -eq 0 ];then
  mail -s "tinci: $REPO job has failed at revision $2." $EMAILS < $LOGFILE
else
  mail -s "tinci: $REPO job is still failing." $EMAILS < $LOGFILE
fi
